* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-text: #fffffff5;
}

#big-box {
  background-image: url('house.jpg');
  height: 90vh;
  position: relative;
  color: var(--white-text);
  background-position: center;
}

#top section:nth-child(1) {
  display: flex;
  height: 80px;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

#card-box + p {
  position: absolute;
  bottom: 2%;
  left: 5%;
}

#logo-box, #logo-box + div {
  display: flex;
  height: 100%;
  gap: 15px;
  align-items: center;
}

#logo-box span {
  display: none;
}

#top h2 a {
  text-transform: uppercase;
  font-family: "ubuntu", sans-serif;
  font-weight: 300;
}

a {
 text-decoration: none;
 color: var(--white-text);
}

#top button {
  color: var(--white-text);
  border: 1px solid var(--white-text);
  /* background-color: var(--white-text); */
  background-color: inherit;
  padding: 8px 17px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 4px;
}

#top button span:nth-child(2){
 font-size: 16.5px;
}

#top section:nth-child(2) {
  border-top: 1px solid var(--white-text);
  border-bottom: 1px solid var(--white-text);
  height: 40px;
  display: flex;
  align-items: center;
}

#top section:nth-child(2) ul {
  display: flex;
  gap: 30px;
  padding-left: 5%;
}

li {
  list-style: none;
}

main h1 {
  position: absolute;
  bottom: 20%;
  left: 5%;
  font-size: 4rem;
  font-weight: 300;
}

#card-box {
  position: absolute;
  bottom: 20%;
  right: 2%;
  display: flex;
  align-items: center;
  gap: 20px;
}

#card-box > div:nth-child(1) {
  display: flex;
  gap: 20px;
}

#card-box > div:nth-child(1) span {
  height: 2px;
  display: inline-block;
  background-color: var(--white-text);
  width: 3rem;
}

#lower-box {
  position: absolute;
  bottom: 10%;
  display: flex;
  padding: 0 3.5rem;
  font-size: 13px;
  width: 100vw;
  gap: 26rem;
}

#listings h2 {
  margin: 30px 0px 30px 70px;
  font-size: 2rem;
}

#listings .container {
  width: 100vw;
  display: grid;
  padding: 10px 70px;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

#listings .card {
  background-color: aqua;
  width: 100%;
  position: relative;
  max-height: 500px;
}

#listings img {
  width: 100%;
  height: 100%;
}

.card h3 {
  position: absolute;
  bottom: 20%;
  color: var(--white-text);
  font-size: 1.6rem;
  font-weight: 300;
  left: 6%;
}

.card div {
  position: absolute;
  bottom: 10%;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  left: 7%;
  font-size: 13px;
}

.card a, .card span {
  color: #cbd0d2;
}


#ship {
  padding-top: 30px;
  position: relative;
  /* filter: brightness(70%); */
  background-repeat: no-repeat;
  background-image: url('https://static-x.jamesedition.com/assets/sell_on_je/yachts_desktop-c541ebab4e95afad6cfdc367ff4c6a840e227a34590dc23f3a4620fb17d5abef.jpg');
  width: 90vw;
  height: 350px;
  color: var(--white-text);
  margin: 70px auto 0;
}

#ship > div:nth-child(1) {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}

#ship ul {
  display: flex;
  gap: 15px;
}


#ship ul button {
  animation: bg-change 15s infinite;
  border: 1px solid rgba(255, 255, 255, 0.683);
  background-color: inherit;
  padding: 5px 15px;
  color: var(--white-text);
  border-radius: 30px;
}

#ship ul button:hover {
  background-color: var(--white-text);
  color: #000;
}

#ship div:nth-child(2) {
  margin-top: 7%;
  margin-left: 40px;
}

#ship div:nth-child(2) h2 {
  font-size: 2.5rem;
  font-weight: 300;
}

#ship div:nth-child(2) p {
  margin-top: 30px;
  font-size: 1.3rem;
}

#ship > button {
  position: absolute;
  right: 10%;
  bottom: 15%;
  width: 280px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border: 0;
}

#trending > div:nth-child(1) {
  margin: 5rem auto 30px;
  display: flex;
  justify-content: space-between;
  width: 88vw;
}

#trending > div:nth-child(1) h2 {
  font-size: 2rem;
  font-weight: 300;
}

#trending > div:nth-child(1) button {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.285);
  padding: 6px;
  border-radius: 50%;
  margin: 0 5px;
}

#trending > div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 88vw;
  margin: 0 auto;
  gap: 30px;
}

.container {
  width: 100%;
}

.box {
  position: relative;
  width: 100%;
}

.box img {
  width: 100%;
}

#trending .inner-box {
  position: absolute;
  top: 3%;
  right: 4%;
}

#trending .box:first-child .inner-box {
  display: flex;
  right: 0%;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

.box a {
  color: #000;
}

.box span{
  background-color: #fff;
  padding: 6px;
  border-radius: 50%;
}

#video-box {
  border-radius: 5px;
  height: 30px;
  width: 50px;
}

#trending .box div:last-child {
  margin-top: 20px;
}


#journal {
  margin: 5rem auto;
  width: 90vw;
  gap: 20px;
  display: grid;
  grid-template-areas: 
  "a1 a1 a1 a1"
  "a2 a2 a3 a3"
  ;
}

#big-box2 img {
  max-width: 50vw;
  filter: brightness(70%);
  height: 100%;
}

#journal h2 {
  margin: 20px 0;
  font-weight: 400;
  font-size: 2rem;
}

#big-box3 a {
  color: black;
}

#journal h2 {
  grid-area: a1;
}

#big-box2 {
  position: relative;
  height: 100%;
  grid-area: a2;
}

#big-box2 div {
  position: absolute;
  bottom: 10%;
  color: #ffffffe6;
  font-size: 1rem;
  left: 3%;
}

#big-box2 div p:nth-child(1) {
  margin-bottom: 20px;
  font-size: 19px;
}

#big-box2 div h4 + p {
  font-size: 19px;
}

#big-box2 div h4 {
  margin: 20px 0;
  font-weight: 400;
  font-size: 1.7rem;
}

#big-box3 {
  height: 100%;
  grid-area: a3;
}

#big-box3 > div {
  display: flex;
  gap: 20px;
}


#big-box3 > div:nth-child(2) {
   margin: 20px 0;
}

#big-box3 span {
  display: block;
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.731);
}

#big-box3 span:nth-child(2) {
  /* background-color: aqua; */
  /* font-weight: bold; */
  color: #000;
  font-size: 18px;
}

#big-box3 span:nth-child(2):hover, #big-box3 span:nth-child(3):hover {
  text-decoration: underline;
}


#podcast {
  width: 90vw;
  height: 300px;
  margin: 0 auto;
  display: flex;
  background-color: #f0f1f2;
  padding: 20px 40px;
  align-items: center;
  gap: 20px;
}

#podcast img {
  width: 120px;
  margin: 0 auto;
  height: 120px;
  background-color: aqua;
}

#podcast .big {
  width: 70%;
}

#podcast .small {
  border-left: 1px solid gray;
  width: 30%;
}


#podcast .big h2 {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 20px;
}

#podcast .big p {
  width: 70%;
  font-size: 18px;
  margin-bottom: 30px;
}

#podcast .big button {
  background-color: #000;
  color: #fff;
  width: 200px;
  border: 0;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 300;
}

#podcast .small div {
  width: 100%;
  border-radius: 100%;
  margin-bottom: 20px;
}

#podcast .small div:nth-child(1) {
  display: flex;
  justify-content: center;
}

#images {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  height: 200px;
  padding: 30px 80px;
}

#images p {
  font-size: 12px;
  color: gray;
  margin-bottom: -20px;
}

hr {
  width: 90vw;
  margin: 5rem auto 0;
  background-color: #cbd0d2;
}

#images div {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 30%;
  width: 90%;
}

#podcast .small img {
  border-radius: inherit;
}

#podcast .small p, #podcast .small h4{
  width: max-content;
  margin: 0px auto;
}

#podcast .text-box  {
  margin: 30px 0;
}

#podcast .text-box p {
  font-size: 12px;
  font-weight: 600;
}

#podcast .text-box h4 {
  font-size: 22px;
  font-weight: 400;
}

#podcast .text-box + p {
  font-size: 12px;
  color: gray
}

#text-sec {
  background-color: #f0f1f2;
  height: 14rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #000000c3;
  flex-direction: column;
  padding: 11rem 0;
}
#text-sec p {
  text-align: center;
  width: 47.5%;
  line-height: 26px;
}

#text-sec p:nth-child(2) {
  margin-top: 20px;
  font-size: 16px;
  color: gray;
}

#text-sec p.small-text {
  width: 100%;
  color: #000;
  margin-bottom: 50px;
  font-size: 20px;
}

#text-sec .small-text:last-of-type {
  color: gray;
  font-size: 13px;
}

#text-sec div {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  gap: 30px
}

#text-sec div p.small-txt {
  margin-top: 0px;
  color: #000;
}

footer {
  padding: 30px 70px 0;
  height: max-content;
  background-color: black;
  color: #ede9e9;
  width: 100vw;
}

.upper {
  display: flex;
  justify-content: space-between;
}

.upper .lists {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

#lower, #lower > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

#lower {
  height: 100px;
  align-items: center;
}


footer svg {
  background-color: inherit;
  height: 20px;
  color: white;
  width: 20px;
  margin: 0 8px;
}

#settings select {
  display: block;
  width: 100%;
  color: #fff;
  background-color: inherit;
  padding: 10px 20px;
}

footer h4 {
  font-weight: 300;
  font-size: 14px;
  color: #cbd0d2d5;
}

footer li {
  margin: 20px 0;
}

footer #settings {
  margin-top: 20px;
}


/* 
#settings select {
  -webkit-appearance: none; 
  -moz-appearance: none;
} */


@media screen and (min-width: 700px) {
  #logo-box span {
    display: block;
  }

  #logo-box ~ span  {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  #journal {
    grid-template-areas: 
    "a1 a1"
    "a2 a2"
    "a3 a3"
    ;
  }

  #images {
    height: 20rem;
    padding-top: 0;
    /* background-color: blueviolet; */
  }

  #images p {
    margin-top: -70px;
  }

  #images div {
    grid-template-columns: repeat(4, 1fr);
  }

  #images div img {
    margin: 30px 0;
  }
  #big-box2 {
    background-color: aqua;
  }

  #big-box2 img {
    max-width: 100%;
  }

  #big-box3 {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  #big-box3 img:nth-of-type(1) {
    height: 70%;
    width: 40%;
  }

  #big-box3 > div {
    width: 45%;
    margin: 2px;
  }

  #big-box3 > div a span:nth-of-type(3){
    display: none;
  }

  #big-box3 > div:nth-of-type(2) {
    margin: 0;
  }

  #ship div:nth-child(2) h2 {
    bottom: 40%;
    position: absolute;
    left: 3%;
    font-size: 25px;
  }

  #ship div:nth-child(2) p {
    margin-top: 8px;
    position: absolute;
    bottom: 23%;
    left: 3%;
  }

  #ship > button {
    margin-top: -20px;
    left: 3%;
    bottom: 5%;
  }

  #listings h2 {
    margin-left: 20px;
  }

  #listings .container {
    grid-template-columns: 1fr 1fr;
    padding: 10px 20px;
  }

  #listings .container img {
    max-height: 200px;
  }

  #trending .container {
    overflow: scroll;
    width: 98vw !important;
  }

  #trending > div:nth-child(1) {
    width: 98vw;
  }

  #video-box {
    visibility: hidden;
  }

  .box img {
    min-width: 250px;
  }

  .big-text {
    display: none;
  }

  #text-sec {
    padding-top: 300px;
  }
}

@media screen and (max-width: 900px) {
  footer .upper .lists {
    width: 80%;
  }

  footer .lists+div {
    margin-left: 40px;
  }
}

@media screen and (max-width: 700px) {
  #top section:nth-child(1) {
    padding: 0 1rem;
  }

  #top section:nth-child(2) ul {
    overflow: scroll;
  }

  #top section:nth-child(2) ul li {
    min-width: max-content;
  }

  #logo-box + div {
    display: none;
  }

  main h1 {
    font-size: 2rem;
    bottom: 13%;
  }
  #lower-box {
    display: none;
  }
  #card-box {
    bottom: 7%;
    left: 5%;
  }

  #card-box span {
    width: 5.5rem !important;
  }
  #card-box div:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  #arrows {
    display: none;
  }
  footer .lists+div {
    width: 100%;
  }

  #listings .container {
    grid-template-columns: 1fr;
  }

  #listings .container img {
    height: auto;
    width: 100%;
  }

  #podcast {
    flex-direction: column;
    height: 570px;
    position: relative;
  }

  #podcast .big button {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
  }

  #podcast .big , #podcast .small, #podcast .big p {
    width: 100%;
  }

  #podcast .small {
    border-left:  0;
  }
  #images {
    height: 30rem;
    padding-top: 0;
    /* background-color: blueviolet; */
  }

  #images p {
    margin-top: -70px;
  }

  #images div {
    grid-template-columns: repeat(2, 1fr);
  }

  #podcast .small {
    width: 50%;
  }

  .upper {
    flex-direction: column-reverse;
  }

  footer {
    padding: 30px 20px 0;
  }

  footer .lists+div {
    margin-bottom: 30px;
    margin-left: 0;
  }

  footer .lists {
    width: 100% !important;
    flex-direction: column;
  }

  .lists ul {
    display: none;
  }

  .lists h4 {
    margin-bottom: 10px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
  }

  #lower {
    padding: 70px 0;
    flex-direction: column-reverse;
    align-content: center;
    justify-content: center;
  }
  
  #lower div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  #lower div:nth-child(1) svg {
    margin: 20px auto 0px;
  }
  #lower div:nth-child(1) p {
    color: gray;
  }

  #journal  #big-box3{
    padding-top: 30px;
  }

  #journal  #big-box3 > div {
    width: 100%;
    margin: -20px 0;
  }
}

@media screen and (min-width: 700px) { 
  .lists h4 span {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .small-text {
    display: none;
  }
}